@import "./node_modules/bootstrap/scss/bootstrap";

.navbar {
    background-color: gray;
}

p {
    text-align: justify;
}

h3 {
    color: grayscale($color: #464141);
}

header {
    background-color: #F2F2F2;
}

body {
    background-color: white;
}

footer {
    background-color: #D9D9D9;
}